#main{
    font-family: Roboto;
    background-color: silver;
}
header{
    display: flex;
    justify-content: center;
}

#img-div{
    display: flex;
    justify-content: center;
    background-color: white;
    padding-top: 2%;
    
    flex-direction: column;
    
}
#image {
    max-width: 100%;
    height: auto;
    display: block;
    justify-content: center;
    margin: 0 auto;
    border-radius: 1%;
}

#img-caption{
    display: flex;
    justify-content: center;
}

#tribute-info{
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align:left;
    padding-left: 12.5%;
    padding-right: 12.5%;
    font-size: 1.2em;
}

#quote{
    display: flex;
    justify-content: center;
    padding-top:5%;
    padding-bottom:5%;
    background-color: white;
    width: 100%;

}

#final-link{
    display: flex;
    justify-content: center;
}


li {
    padding-top: 2.5%;
}

a {
    color: red;
}

a:visited {
    color: #74638f;
}